*{
    background-color: #8000FF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#init{
    position: relative;
    margin: 40% 20%;
    /* border: 2px solid #FE642E; */
    /* height: 60%; */
}

button{
    border: 2px solid #FE642E;
    border-radius: 5px;
    background-color: #FE642E;
    color: white;
    font-size: 30px;
    width: 70%;
    position: relative;
    display: block;
    align-content: center;
    margin: 30% 15%;
    justify-content: center;
}

#login{
    /* border: 2px solid #FE642E; */
    display: none;
    position: relative;
    margin: 40% 0%;
    color: white;
    font-size: 30px;
    text-align: center;
}

#login label{
    font-size: 50px;
}

#login input[type=text]{
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    height: 30px;
    text-align: center;
}

#login input[type=submit]{
    border: 2px solid #FE642E;
    border-radius: 5px;
    background-color: #FE642E;
    color: white;
    font-size: 20px;
    width: 50%;
    height: 50px;
    position: relative;
    display: block;
    align-content: center;
    margin: 20% 25%;
    justify-content: center;
}


#teams{
    display: none;
    position: relative;
    /* margin: 40% 0%; */
    color: white;
    font-size: 30px;
    text-align: center;
}

#teams #team1{
    margin: 20% 15%;
    border-color:red;
    background-color: red;
}
#teams #team2{
    margin: 20% 15%;
    border-color:green;
    background-color: green;
}